<!DOCTYPE html>
<html>
<head>
	<title>Devin Walsh NY Pictures</title>
</head>
<body>
	<h1>New York Pictures</h1>
	<p>To get back to the previous page, scroll to the bottom and click the link!</p>
	<figure>
	<img src="../Images/NY/CPFair.jpg"width="384px" height="512px" alt="Devin in a swing with arms up looking backwards." >
	<figcaption>The Central Park Fair is so fun!</figcaption>
	</figure>
	<figure>
	<img src="../Images/NY/Hudson.jpg"width="448px" height="336px" alt="Devin looking sad at the camera with hudson river in the background." >
	<figcaption>This was the day before my boyfriend left for Europe for a month! I was a little sad ;(</figcaption>
	</figure>
	<figure>
	<img src="../Images/NY/PintShop.jpg"width="448px" height="336px" alt="Beakers and small cups with milk and vanilla, ice cream scoops, and the letters taste filled with toppings." >
	<figcaption>I took this at the tasting room in "The Pint Shop"! It was such a cool experience!</figcaption>
	</figure>
	<figure>
	<img src="../Images/NY/Popsicles.jpg"width="512px" height="323px" alt="Purple popsicle with a bite out of it next to an orange popsicle in central park." >
	<figcaption>This day was really hot so my boyfriend and I decided to get popsicles and go into Central Park!</figcaption>
	</figure>
	<figure>
	<img src="../Images/NY/TimesSquare.jpg"width="336px" height="448px" alt="Devin and her friend hugging in Times Square." >
	<figcaption>A night in Times Square is always lot of fun with your best friend!</figcaption>
	</figure>

	<a href="../Visual Website.html">Go Back!</a>
</body>
</html>